body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: url(images/wmp.jpg);
}

.main {
    display: flex;
    justify-content: center;
    color: white;
    margin: 40px;
}

.main-content{
    margin: 20px;
    text-align: center;
    margin: 20px;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;   
    text-align: right;
    justify-content: space-between;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: white;
    width: 100px;
    padding: 25px 20px;
    display: block;
    text-transform: uppercase;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    background: #29AB87;
}

.navbar a:hover{
    background: #000;
}

.navbar li ul{
    display: none;
    position: absolute;
    background: green;
    border: 5px solid #000;
}

.navbar li:hover ul{
    display: block;
}

.navbar li ul li{
    display: block;
}

.navbar li ul li a{
    width: 150px;
    padding: 15px 20px;
}

.navbar li ul li a:hover{
    background: #262626;
}

.service img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.service{
    margin: 50px;
    text-align: center;
    color: white;
    flex-basis: 30%;
}

.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
    color: white;
}

.about img{
    width: 30;
    height: auto;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}

.about{
    margin: 50px;
    text-align: center;
    color: white;
}




